[Unit]
Description=Worf
After=network.target
Requires=mpd.service

[Service]
ExecStart=%h/.cargo/bin/worf daemon

[Install]
WantedBy=default.target




